<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>hello</title>
</head>
<body>

<h3>HELLO WORLD</h3>

<!-- django-allauth -->
{% load socialaccount %}
{% providers_media_js %}
<a id="facebook-login-button" href="{% provider_login_url "facebook" method="js_sdk" %}" class="social-login-fb">SIGN UP WITH FACEBOOK</a>
<!-- / django-allauth -->

</body>
</html>
